body{
    margin:0;
    padding:0;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: "top top"
                         "middle-left middle-right"
                         "bottom bottom"

}

header {
    grid-area: top;
    border-bottom: 1px solid gray;
    margin:0;
    padding:0;
}

nav {
    grid-area: middle-left;
    background: gray;
    height:100%;
}

main {
  text-align: center;
    grid-area: middle-right;
}


footer {
    grid-area: bottom;
}

a{
  text-decoration: none;
}

nav ul{
  text-decoration: none;
  list-style: none;
  height:100%;
}
a img{
  height:5em;;
}
.error{
  color:red;
}
.message_holder {
  margin: 0 auto;
  background-color: lightblue;
  width: 90%;
  height: 10em;;
  overflow: auto;
}
