body{
    margin:0;
    padding:0;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: "top "
                         "middle"
                         "bottom "

}

header {
    grid-area: top;
    border-bottom: 1px solid gray;
    margin:0;
    padding:0;
}

nav{
  width: 100%;
  background-color: #333;
}
nav img{
  width: 3.5em;

}
nav ul{
  font-size: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align:left;
  display:inline-block;
  vertical-align:top;

}
nav ul li{
  display: inline-block;
  margin-right: -4px;

}
nav ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: .75em 1.5em;
  text-decoration: none;

}
nav ul li a:hover{
  color:#1abc9c;
  background: #111;

}
#logo{
    display: inline-block;
    vertical-align: top;
}
input {
  width: 15%;
  padding: 1em 2em;
  margin: 1em 0;
  box-sizing: border-box;
  font-size: 15px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    width: 15%;
    padding: 1em 2em;
    margin: 1em 0;
    cursor: pointer;
}

main {
  text-align: center;
  grid-area: middle;
}


footer {
    grid-area: bottom;
}

a{
  text-decoration: none;
}


a img{
  height:5em;;
}
.error{
  color:red;
}
.message_holder {
  margin: 0 auto;
  background-color: #1abc9c;
  width: 90%;
  height: 10em;;
  overflow: auto;
  border-radius: 2em;
}
#logo{
  color:#1abc9c;
}
