<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Run a model</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    {% if room_code is not none %}
    <h1>Room Number: {{room_code}}</h1>


    <h3 id = 'header' style='color: #ccc;font-size: 30px;'>No input yet</h3>
      <div class="message_holder"></div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
      <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.emit('Webpage_enter_room', {{room_code}});
        socket.on('page_joined', function() {
          $( 'main' ).append( '<h1>Sucess !</h1>')
        });
        socket.on( 'my response', function( msg ) {
          console.log( msg )
          if( typeof msg.room !== 'undefined' ) {
            document.getElementById("header").innerHTML = "Recieving data";
            document.getElementById("header").style.color = "black";
            $( 'div.message_holder' ).prepend( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
          }
        });
        socket.on('end transfer', function() {
          document.getElementById("header").innerHTML = "Transfer Complete";
          $( 'main' ).append( '<a href="/downloadables/Results.csv" target="blank"><figure><img src="static/images/csv.svg" alt="Csv report file"><figcaption>report.csv</figcaption></figure></a>')
        });
      </script>


    {% endif %}

      {% if room_code is none %}
      <p>No room code supplied. To view a room supply a valid room code. Or create a room </p>
      {% endif %}






    {% endblock %}
  </body>
</html>
