<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Run a model</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> Upload file and run model </h1>
      <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>

    {% if dataframe is not none and predictions is not none %}
      <p>Predictions Complete!</p>
		      <a href="/downloadables/Results.csv" target="blank">
            <figure>
              <img src="static/images/csv.svg" alt="Csv results file">
              <figcaption>Results.csv</figcaption>
            </figure>
          </a>

    {% endif %}

    {% endblock %}
  </body>
</html>
