<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Run a model</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h3 id = 'header' style='color: #ccc;font-size: 30px;'>No input yet</h3>
      <div class="message_holder"></div>

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
      <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on( 'my response', function( msg ) {
          console.log( msg )
          if( typeof msg.user_name !== 'undefined' ) {
            document.getElementById("header").innerHTML = "Recieving data";
            document.getElementById("header").style.color = "black";
            $( 'div.message_holder' ).prepend( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
          }
        });
        socket.on('end transfer', function() {
          document.getElementById("header").innerHTML = "Transfer Complete";
          $( 'main' ).append( '<div class="container" align="left"><a href="/downloadables/report.csv" target="blank"><button class="csv">Download!</button></a></div>')
        });
      </script>





    {% endblock %}
  </body>
</html>
